<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D DMI2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D PCI Express Root Port 1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,1</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D PCI Express Root Port 1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,1/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x11,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,17,0</string>
				<key>device_type</key>
				<string>Unassigned class</string>
				<key>model</key>
				<string>C610/X99 series chipset SPSR</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>C610/X99 series chipset USB xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1A,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,26,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>C610/X99 series chipset USB Enhanced Host Controller #2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>layout-id</key>
				<data>
				CwAAAA==
				</data>
				<key>model</key>
				<string>C610/X99 series chipset HD Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C610/X99 series chipset PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,2</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C610/X99 series chipset PCI Express Root Port #3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,2/0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>RTL8111/8168/8411 PCI Express Gigabit Ethernet Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C610/X99 series chipset PCI Express Root Port #4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>BCM4360 802.11ac Wireless Network Adapter</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>C610/X99 series chipset USB Enhanced Host Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>C610/X99 series chipset LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>C610/X99 series chipset SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D PCI Express Root Port 2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0/0,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Navi 10 XL Upstream Port of PCI Express Switch</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0/0,0/0,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Navi 10 XL Downstream Port of PCI Express Switch</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0/0,0/0,0/0,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>Navi 14 [Radeon RX 5500/5500M / Pro 5500M]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0/0,0/0,0/0,1</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Navi 10 HDMI Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D PCI Express Root Port 3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,0</string>
				<key>device_type</key>
				<string>System peripheral</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D Map/VTd_Misc/System Management</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,1</string>
				<key>device_type</key>
				<string>System peripheral</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D IIO Hot Plug</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,2</string>
				<key>device_type</key>
				<string>System peripheral</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D IIO RAS/Control Status/Global Errors</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,4</string>
				<key>device_type</key>
				<string>PIC</string>
				<key>model</key>
				<string>Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D I/O APIC</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
